<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.devnoname120.alfred-emoji-picker</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>5514CC1D-FA62-4C53-ADC8-0A7E47EABE32</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>753EE7F7-6A84-4B07-9C48-1B53B2DBD393</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>715587DB-6FBB-4B61-A1E1-5DEC6AE8D9DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E260531-B940-414D-8222-8F44CC4B8419</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>753EE7F7-6A84-4B07-9C48-1B53B2DBD393</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>715587DB-6FBB-4B61-A1E1-5DEC6AE8D9DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85D92F9D-5FB7-43BB-972E-AA37378048E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5514CC1D-FA62-4C53-ADC8-0A7E47EABE32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>982E3FBB-2F4C-4046-A324-A7BF07EDCFB9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy "{query}" into frontmost applicationto the clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D669A41-E6BD-402D-82CF-16D7788A3E14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8F2C967-FA1A-4457-8373-998014ABC3A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>982E3FBB-2F4C-4046-A324-A7BF07EDCFB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E260531-B940-414D-8222-8F44CC4B8419</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8F2C967-FA1A-4457-8373-998014ABC3A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5514CC1D-FA62-4C53-ADC8-0A7E47EABE32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>982E3FBB-2F4C-4046-A324-A7BF07EDCFB9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy "{query}" into frontmost applicationto the clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>devnoname120</string>
	<key>description</key>
	<string>Pick emojis within Alfred — at a blazing-fast speed</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Emoji picker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{clipboard:0}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>715587DB-6FBB-4B61-A1E1-5DEC6AE8D9DE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5514CC1D-FA62-4C53-ADC8-0A7E47EABE32</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>emoji</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading results...</string>
				<key>script</key>
				<string>query=$*

# This improves startup time by not calling the executable when no argument is provided
# This helps make sure that invoking the hotkey shows the input right away and such catch pressed keys right away

if [[ -z "$query" ]]; then
	echo '{"items": [{"title": "No matching emojis", "subtitle": "Try a different query?", "valid": false, "icon": {"path": "/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/AlertCautionIcon.icns"}}]}';
else
	./alfred-emoji-picker "$query" || { xattr -rd com.apple.quarantine ./alfred-emoji-picker &gt;/dev/null 2&gt;&amp;1; ./alfred-emoji-picker "$query"; }
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search emoji</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>85D92F9D-5FB7-43BB-972E-AA37378048E7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>753EE7F7-6A84-4B07-9C48-1B53B2DBD393</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Based On The OneUpdater workflow, but heavily simplified for github releases
# https://github.com/vitorgalvao/alfred-workflows/tree/master/OneUpdater
#
# Simplification courtesy of jsumners

# THESE VARIABLES MUST BE SET.
readonly github_repo='devnoname120/alfred-emoji-picker'
readonly frequency_check='1' # days

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
readonly info_plist='info.plist'

function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function notification {
  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

function fetch_remote_version {
  curl --silent "https://api.github.com/repos/${github_repo}/releases/latest" | grep 'tag_name' | head -1 | sed -E 's/.*tag_name": "v?(.*)".*/\1/'
}

function fetch_download_url {
  curl --silent "https://api.github.com/repos/${github_repo}/releases/latest" | grep 'browser_download_url.*\.alfredworkflow"' | head -1 | sed -E 's/.*browser_download_url": "(.*)".*/\1/'
}

function download_and_install {
  readonly tmpfile="$(mktemp).alfredworkflow"
  notification 'Downloading and installing…'
  curl --silent --location --output "${tmpfile}" "${1}"
  open "${tmpfile}"
}

# Local sanity checks
[[ -n "${alfred_workflow_version}" ]] || abort "'alfred_workflow_version' must be set."
[[ -n "${alfred_workflow_name}" ]] || abort "'alfred_workflow_name' must be set."
[[ "${github_repo}" =~ ^.+\/.+$ ]] || abort "'github_repo' (${github_repo}) must be in the format 'username/repo'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) must be a number."

# Check for updates
if [[ $(find "${info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if [[ "${alfred_workflow_version}" == "$(fetch_remote_version)" ]]; then
    touch "${info_plist}" # Reset timer by touching local file
    exit 0
  fi

  download_and_install "$(fetch_download_url)"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8E260531-B940-414D-8222-8F44CC4B8419</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8D669A41-E6BD-402D-82CF-16D7788A3E14</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>982E3FBB-2F4C-4046-A324-A7BF07EDCFB9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>e</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading results...</string>
				<key>script</key>
				<string>query=$*

# This improves startup time by not calling the executable when no argument is provided
# This helps make sure that invoking the hotkey shows the input right away and such catch pressed keys right away

if [[ -z "$query" ]]; then
	echo '{"items": [{"title": "No matching emojis", "subtitle": "Try a different query?", "valid": false, "icon": {"path": "/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/AlertCautionIcon.icns"}}]}';
else
	./alfred-emoji-picker "$query" || { xattr -rd com.apple.quarantine ./alfred-emoji-picker &gt;/dev/null 2&gt;&amp;1; ./alfred-emoji-picker "$query"; }
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search emoji</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D8F2C967-FA1A-4457-8373-998014ABC3A0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5514CC1D-FA62-4C53-ADC8-0A7E47EABE32</key>
		<dict>
			<key>note</key>
			<string>Auto Paste</string>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>715587DB-6FBB-4B61-A1E1-5DEC6AE8D9DE</key>
		<dict>
			<key>note</key>
			<string>Restore clipboard</string>
			<key>xpos</key>
			<real>865</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>753EE7F7-6A84-4B07-9C48-1B53B2DBD393</key>
		<dict>
			<key>note</key>
			<string>Wait for previous action to finish pasting</string>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>85D92F9D-5FB7-43BB-972E-AA37378048E7</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>8D669A41-E6BD-402D-82CF-16D7788A3E14</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>8E260531-B940-414D-8222-8F44CC4B8419</key>
		<dict>
			<key>note</key>
			<string>Auto Update - remove to disable</string>
			<key>xpos</key>
			<real>1070</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>982E3FBB-2F4C-4046-A324-A7BF07EDCFB9</key>
		<dict>
			<key>note</key>
			<string>Only copy to clipboard (default)</string>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>D8F2C967-FA1A-4457-8373-998014ABC3A0</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.6</string>
	<key>webaddress</key>
	<string>https://github.com/devnoname120/alfred-emoji-picker</string>
</dict>
</plist>
