configuration {
font: "0xProto Nerd Font 18";
modes: [ "window", "drun", "ssh", "run", "combi"  ];
       combi-modes: [ "window", "drun", "run", "ssh" ];
       window-format: "{n} - {t}";
       show-icons: true;          // <--- Enable icondrun-icon-theme
       // drun-icon-theme: "Papirus"; // <--- Set your icon theme

}
